* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-active {
  left: -100%;
}
.active {
  left: 0;
  transition: 350ms ease-in-out;
}
